* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-white: #ededed;
}

body {
    background: linear-gradient(45deg, rgb(238, 5, 238), rgb(93, 4, 171), rgb(9, 211, 237));
}

#main {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#calculator {
    background-color: rgb(53, 52, 52);
    min-width: 400px;
    height: 550px;
    color: var(--primary-white);
}

/*========  Top bar with control buttons  =========*/
#top {
    padding: 5px;
}

#top p {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px;
}
.control-buttons {
    float: right;
    padding: 5px;
}

.exit {
    margin: 0 5px;
}

/*========  Display top  =========*/
.display-top {
    padding: 5px;
}

.display-text {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.history {
    float: right;
    padding: 5px;
}

/*========  Display Results  =========*/
#display {
    height: 120px;
    background-color: rgb(61, 61, 61);
    margin: 10px;
}
.results {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 50px;
    padding: 0 10px;
}

/*========  Buttons  =========*/
#buttons {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.btn {
    height: 100%;
    text-align: center;
    font-size: 20px;
    border: 1px solid gray;
    padding: 12px;
}

.btn:hover {
    background-color: rgb(111, 109, 109);
}

.number {
    background-color: rgb(18, 18, 18);
}

.equal {
    background-color: rgb(134, 21, 21);
}

.equal:hover {
    background-color: rgb(193, 8, 8);
}
